{% extends "base.html" %}
{# Add import for bootstrap wtf quickform support #}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

  <div class="box">
    <h1>Register Here!</h1>
    <hr>
     <form class="form form-horizontal" method="post" novalidate>
      <hr>
        {{ form.csrf_token }}
        <p>
          {{ form.name.label }} <br> {{ form.name(size=30) }}
          {% for err in form.name.errors %}
          <span style="color:red"{{ err }}></span>
          {% endfor %}
        </p>
        <p>
          {{ form.email.label }} <br> {{ form.email(size=30) }}
          {% for err in form.email.errors %}
          <span style="color:red"{{ err }}></span>
          {% endfor %}
        </p>
        <p>
          {{ form.password.label }} <br> {{ form.password(size=30) }}
          {% for err in form.password.errors %}
          <span style="color:red"{{ err }}></span>
          {% endfor %}
        </p>
        <br> {{ form.submit(size=5) }}
      <hr>
      </form>
    <hr>
  </div>
{% endblock %}